*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
.page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 1em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: calc(100vh - 5em);
  width: calc(100vh - 5em);
  padding: 1em;
}
.container div{
  width: 6.25%;
  height: 6.25%;
}
.drawn {
  background: #cccccc;
}